@import "tailwindcss";

@theme {
  /* Define font families */
  --font-sans: "Work Sans", system-ui, sans-serif;
  --font-mono: "Roboto Mono", ui-monospace, monospace;

  --color-navbar: #fff5e4;
  --color-hero: #ffe3e1;
  --color-about: #ffd1d1;
  --color-projects: #ff9494;
  --color-texts: #562b08;
  --color-h1: #ff5b5b;
}

body {
  font-family: var(--font-sans);
}
